<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div>
  <button onclick=authorization()>인증하기</button>


  <!--

      코드 인증 -전화버호 등등 페이지 띄우기 페이지
  -->

  <!--    clientId주기-->
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:inline="javascript">


  function authorization(){

    window.open("https://testapi.openbanking.or.kr/oauth/2.0/authorize?response_type="+[[${requestInfo.response_type}]]+"&client_id="+[[${requestInfo.client_id}]]+"&redirect_uri="+[[${requestInfo.redirect_uri}]]+"&scope="+[[${requestInfo.scope}]]+"&state="+[[${requestInfo.state}]]+"&auth_type="+[[${requestInfo.auth_type}]]);


    // $.ajax(
    //     {
    //         type:"GET",
    //         url:"https://testapi.openbanking.or.kr/oauth/2.0/authorize?response_type="+[[${requestInfo.response_type}]]+"&client_id="+[[${requestInfo.client_id}]]+"&redirect_uri="+[[${requestInfo.redirect_uri}]]+"&scope="+[[${requestInfo.scope}]]+"&state="+[[${requestInfo.state}]]+"&auth_type="+[[${requestInfo.auth_type}]],
    //         dataType:"jsonp", // CORS 해결
    //         // contentType:"application/json; charset=utf-8",
    //         success:function(result, status, xhr){
    //             console.log("success ajax");
    //
    //         },
    //         error:function(e, status, xhr){
    //             console.log("fail ajax" + e);
    //         }
    //
    //     }
    //
    // )

  }
</script>
</body>
</html>