<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="data:,">
  <title>Main Page</title>
</head>
<body>


  <a href="/logout" class="btn btn-info active" role="button">Logout</a>
</div>
  <a href="/oauth2/authorization/google" class="btn btn-secondary active" role="button">Google Login</a>
  <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
  <a href="/oauth2/authorization/kakao" class="btn btn-secondary active" role="button">Kakao Login</a>
</body>